<!doctype html>
<html>
<head>
  <title>Credential HSML Object Creator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Create Credential HSML Object</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="credential_name">Credential Name:</label>
      <input type="text" id="credential_name" name="credential_name" required>
      <br><br>
      <label for="credential_description">Description:</label>
      <textarea id="credential_description" name="credential_description" required></textarea>
      <br><br>
      <label for="access_authorization">Access Authorization:</label>
      <input type="text" id="access_authorization" name="access_authorization" required>
      <br><br>
      <label for="authorized_for_domain">Authorized For Domain:</label>
      <input type="text" id="authorized_for_domain" name="authorized_for_domain" required>
      <br><br>
      <label for="domain_pem">Please upload the private key of the Agent you are creating this credential for:</label>
      <input type="file" id="domain_pem" name="domain_pem" accept=".pem" required>
      <br><br>
      <input type="submit" value="Generate HSML JSON">
    </form>
  </div>
</body>
</html>
